.product {
    width: 90%;
  }
.products .product1{
    width:25%;
    height:70%;
    text-align: center;
    line-height: 1.3rem;
  }
  .products .product1 img{
    width:100%;
    height:340px;
  }
  .products .product2{
    width:45%;
    height:90%;
    text-align: center;
    line-height: 1.3rem;
  }
  .products .product2 img{
    width:100%;
    height:340px;
  }
  